* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 1px;
}

body {
    font-size: 14rem;
}

.bg-gray,
.bg-transparent {
    width: 335px;
    background-color: #dcdce5;
}

.bg-transparent {
    background: #ffffff;
}

.banner img {
    width: 100%;
}

table {
    width: 100%;
}

.header {
    padding: 10px 30px;
}

.contact {
    text-align: right;
}

.contact tr:last-child p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.tell a {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(https://github.com/TarasNaumov/HataPlus/blob/master/img/sprite.png?raw=true);
    background-position: -55px 0;
}

.tell+td,
.tell {
    display: inline-block;
    padding-left: 8px;
}

.tell+td a {
    font-size: 16rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.info {
    padding: 35px 30px;
}

h1 {
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-family: "Arial";
    margin-bottom: 20px;
}

.info p {
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    font-family: "Arial";
    margin-bottom: 35px;
}

.info a {
    display: inline-block;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    padding-top: 6px;
    margin-bottom: 36px;
    border: 2px solid transparent;
    background-color: #fd8300;
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.info a:hover {
    border: 2px solid #24242b;
}

.pluses tr {
    background-color: #ededf5;
}

.pluses-container img {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
}

.pluses-container h2 {
    font-size: 14rem;
    line-height: 18rem;
    color: #24242b;
    font-family: "Arial";
}

.pluses-container p {
    font-size: 13rem;
    line-height: 18rem;
    color: #666666;
    font-family: "Arial";
    margin-bottom: 33px;
}

.pluses-container {
    text-align: center;
}

.house table td {
    width: 50%;
    padding-right: 10px;
}

.house table {
    padding: 25px;
}

.house table img {
    width: 100%;
}

.house table h2 {
    font-size: 16rem;
    line-height: 24rem;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    margin-bottom: 18px;
}

.house table p {
    font-size: 13rem;
    line-height: 19rem;
    color: #9999a6;
    font-family: "Arial";
    margin-bottom: 14px;
}

.action tr td:nth-child(2) {
    background-color: #fd8300;
    text-align: center;
}

.action tr td {
    padding: 35px;
}

.title-action {
    font-size: 24rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-bottom: 12px;
}

.action-info {
    font-size: 13rem;
    line-height: 20rem;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    margin-bottom: 16px;
}

.action a {
    display: inline-block;
    width: 170px;
    padding: 8px 5px;
    border-radius: 20px;
    background-color: #1f1f56;
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.footer tr td:nth-child(2) {
    background-color: #08081a;
}

.footer tr td:nth-child(2) div {
    margin: auto;
}